@using Project2.Controllers;
@model List<Final.Models.ViewModels.MediaInfosRelVm>

@{
    ViewBag.Title = "Category";
    var paginationInfo = ViewBag.PaginationInfo as PaginationInfo;
}

@Html.Partial("ShowGenresByCategory")

<div class="container  mb-3">
    <div class="row">
        <h3 class="d-md-flex col-6" style="margin-top: 30px; font-weight: 600;color:rgb(100, 200, 237);">搜尋結果 共@(paginationInfo.Total)筆</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-6 g-4">
        @Html.Partial("_MediaInfosCard", Model)
    </div>
</div>


<div class="container">
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="paginationBS5">
            </ul>
        </nav>
    </div>
</div>

@section scripts{
    @{
//var paginationInfo = ViewBag.PaginationInfo as PaginationInfo;
        @*<div>total:@paginationInfo.Total</div>*@
    }
    <script>
        let current = @(paginationInfo.PageIndex);
        let pageSize = @(paginationInfo.PageSize);
        let showPages = 5;
        let total = @(paginationInfo.Total);

        let options = Pagination.getDefaultOptions();
        options.total = total;
        options.current = current;
        options.pageSize = pageSize;
        options.showPages = showPages;
        options.containerSelector = "#paginationBS5";

    options.urlTemplate = `/MediaInfos/Category/@ViewBag.CategoryId?pageIndex={page}`;
        let pagination = new Pagination().render(options);


    </script>
}