@model Project2.Models.ViewModels.RegisterVm

@{
    ViewBag.Title = "註冊會員";
   // Layout = null;
}
<head>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    


</head>
<h2 style="font-size:35px; font-weight:500;">註冊會員</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.BirthOfDay, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.BirthOfDay, new { htmlAttributes = new { @class = "form-control", style = "height: 40px;", @id = "birthdate" } })
                    @Html.ValidationMessageFor(model => model.BirthOfDay, "", new { @class = "text-danger" })
                </div>




                @*<div class="mb-3">
            @Html.LabelFor(model => model.BirthOfDay, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
            @Html.EditorFor(model => model.BirthOfDay, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
            <p>格式為 : YYYY/mm/DD (年/月/日)</p>
            @Html.ValidationMessageFor(model => model.BirthOfDay, "", new { @class = "text-danger" })
        </div>*@

                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label col-md-2", style = "font-size: 22px;" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "height: 40px; " } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <div class="text-start" style="margin-left:550px;">
                        <input type="submit" value="註冊" class="btn btn-lg btn-outline-primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p style="font-size:25px;font-weight:600;color:cadetblue;margin-top:10px; margin-left: 5px">成為會員</p>

                <img src="~/Images/adventure1.jpg" style="object-fit: cover; width: 200px; height: 300px; margin: 5px; margin-left:40px; border-radius: 5%" />
                <img src="~/Images/adventure2.jpg" style="object-fit: cover; width: 150px; height: 220px; margin: 5px; margin-top: 30px; border-radius: 10%" />
                <img src="~/Images/adventure3.jpg" style="object-fit: cover; width: 200px; height: 300px; margin: 5px; margin-bottom: 90px; border-radius: 5%" />
                <p style="font-size: 25px; font-weight: 600; color: cadetblue; margin-left: 100px; margin-top: 50px;">可輕鬆得知各平台上下架資訊</p>
                <p style="font-size:25px;font-weight:600; color: cadetblue; margin-left: 350px;">多種類型影片等您來發掘</p>
            </div>
        </div>
    </div>

    <script>
        //$(function () {
        //    $(".jquery-ui-datepicker").datepicker();
        //});
        //$(document).ready(function () {
        //    $('.input-group.date').datetimepicker({
        //        format: 'YYYY-MM-DD', // 日期格式
        //        useCurrent: false,    // 不使用當前日期作為默認值
        //         更多選項和事件處理程序可以根據你的需求添加
        //    });
        //});
        $(document).ready(function () {
            // 使用日期選擇器
            $("#birthdate").datepicker({
                dateFormat: "yyyy-mm-dd", // 日期格式
                changeYear: true, // 允許改變年份
                yearRange: "1940:2023" // 年份範圍
            });
        });


    </script>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
