@model IEnumerable<Project2.Models.ViewModels.CreditCardVm>

@{
    ViewBag.Title = "管理付款資訊";
}
@*style="height:100vh;" height: 30vh;*@
<h1 class="fw-bolder " style="margin: 20px;">管理付款資訊</h1>
<div class="container text-center">
    <div class="row d-flex justify-content-center align-items-center">
        <h5 class="table-title bx bxs-cog" style="font-weight: 700;font-size: 25px;margin-top:50px">
            新增備用付款方式，或是切換偏好的付款方式。
        </h5>
        <table class="table table-sm table-hover mt-3">
            <tr style="font-size:20px">
                <th>
                    @Html.DisplayNameFor(model => model.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThreeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="font-size:20px">
                    <td>
                        @{
                            // 取得卡號的前幾個字元
                            var prefixLength = 4; // 這裡可以設定顯示的前幾個字元數量
                            var prefix = item.CardNumber.Substring(11, prefixLength);
                            // 計算需要遮蔽的字元數量
                            var maskedLength = item.CardNumber.Length - prefixLength;
                            // 用星號填充剩餘的字元
                            var maskedNumber = new string('*', maskedLength);
                            // 合併前綴和遮蔽的數字
                            var maskedCardNumber = maskedNumber + prefix;
                        }
                        @Html.DisplayFor(modelItem => maskedCardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThreeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", null, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
        <div class="text-center">
            <p>
                @Html.ActionLink("新增付款方式", "Create", null, new { @class = "btn btn-primary btn-lg mt-3", style = "width: 20rem;" })
            </p>
        </div>
        <div style="height:30vh;"></div>
    </div>
</div>
