@model Final.Models.ViewModels.MemberDetailVm

@{
    ViewBag.Title = "詳情";
}

<h2>詳情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div class="row" style="font-size:20px;margin-left:20px;   ">
    <div class="mt-3">
        @Html.DisplayNameFor(model => model.Member.Name):
        @Html.DisplayFor(model => model.Member.Name)
    </div>

    <div class="mt-3">
        @Html.DisplayNameFor(model => model.Member.Account):
        @Html.DisplayFor(model => model.Member.Account)
    </div>
    <div class="mt-3">
        @Html.DisplayNameFor(model => model.Member.BirthOfDate):
        @Html.DisplayFor(model => model.Member.BirthOfDate)
    </div>
    <div class="mt-3">
        @Html.DisplayNameFor(model => model.Member.Email):
        @Html.DisplayFor(model => model.Member.Email)
    </div>
    @if (Model.Blacklist != null)
    {
        if (Model.Blacklist.NextRestorationTime >= DateTime.Now)
        {
            @*@foreach (var blacklist in Model.Blacklist)*@
            @*  {*@
            <div class="mt-3">
                @Html.DisplayNameFor(model => Model.Blacklist.Reason):
                @Html.DisplayFor(model => Model.Blacklist.Reason),開始時間從 @Html.DisplayFor(model => Model.Blacklist.BlacklistTime)~@Html.DisplayFor(model => Model.Blacklist.NextRestorationTime)
            </div>

            @*  }*@
        }
    }

</div>
    

@if (Model.Member.VipEnddate >= DateTime.Now)
{

    <div class="card mt-3" style="width: 60rem; margin-left: 20px;">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">方案</th>
                        <th scope="col">付款日期</th>
                        <th scope="col">開始時間</th>
                        <th scope="col">到期時間</th>
                        <th scope="col">費用</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var vipitem in Model.Vipitem)
                    {
                        <tr>
                            <th scope="row"></th>
                            <td>@Html.DisplayFor(model => vipitem.Type)</td>
                            <td>@Html.DisplayFor(model => vipitem.PaymentDate)</td>
                            <td>@Html.DisplayFor(model => vipitem.StartDate)</td>
                            <td>@Html.DisplayFor(model => vipitem.ExpiryDate)</td>
                            <td>@Html.DisplayFor(model => vipitem.Fee)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


}

<div class=" text-end">
    <p>
        @Html.ActionLink("回清單頁", "Index", null, new { @class = "btn btn-success" })
    </p>
</div>