@using Project2.Controllers;
@model IEnumerable<Final.Models.ViewModels.MediaInfosRelVm>

@{
    ViewBag.Title = "會員收藏列表";
    var paginationInfo = ViewBag.PaginationInfo as PaginationInfo;
}

<style>
/*    td {
        vertical-align: middle;
    }*/
    h2 {
        
    }
</style>

<h2 style="font-size: 40px;">會員收藏列表</h2>

<div class="container text-center" style="margin-top:15px">
    <div class="row">
        <table class="table table-striped table-hover table-bordered align-middle">
            <tr style="font-size:20px">
                <th>
                    標題
                </th>
                <th>
                    上映日期
                </th>
                <th>
                    取消收藏
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @foreach (var ottitem in item.OttTypes)
                        {
                            <span class="badge rounded-pill bg-info text-white">上映平台：@ottitem.Name , 上映日期：@ottitem.ReleaseDate</span><br>
                        }
                    </td>
                    <td>
                        <button class="btn btn-danger delFav" data-id="@item.Id">取消收藏</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



<div class="container">
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="paginationBS5">
            </ul>
        </nav>
    </div>
</div>

@section Scripts {
    <script>

        let current = @(paginationInfo.PageIndex);
        let pageSize = @(paginationInfo.PageSize);
        let showPages = 5;
        let total = @(paginationInfo.Total);

        let options = Pagination.getDefaultOptions();
        options.total = total;
        options.current = current;
        options.pageSize = pageSize;
        options.showPages = showPages;
        options.containerSelector = "#paginationBS5";

        options.urlTemplate = `/FavoriteMedia?pageIndex={page}`;
        let pagination = new Pagination().render(options);

        $(function () {
       $('.delFav').click(function () {
                // 獲取按鈕上的 data-id 屬性的值
                var id = $(this).data('id');

                // 創建包含要傳遞的數據的 JavaScript 對象
                var data = {
                    MemberId: @ViewBag.MemberId,
                    MediaInfoId: id
                };

                // 發送 AJAX POST 請求
                $.ajax({
                    type: 'DELETE',
                    url: '/api/FavoriteMediaApi', // 替換成你的 Web API 端點 URL
                    data: JSON.stringify(data), // 如果需要將數據作為 JSON 發送，需要將其轉換為 JSON 字符串
                    contentType: 'application/json', // 設置請求的內容類型為 JSON
                    success: function (response) {
                        // 在這裡處理成功的回應
                        alert(response);
                        // 重新載入頁面
                        location.reload();
                    },
                    error: function (error) {
                        // 在這裡處理錯誤
                        alert('刪除收藏失敗');
                    }
                });
            });
        });
    </script>
}