@model Final.Models.ViewModels.MediaInfosInitVm

    <label for="typeSelect">影片類型:</label>
    <select class="selectpicker form-control"
            multiple
            data-live-search="true"
            id="typeSelect">
        @foreach (var genre in Model.Genres)
        {
            <option data-id="@genre.Id" data-name="@genre.Name" @(ViewBag.GenreId.Contains(genre.Id) ? "selected" : "")>@genre.Name</option>
        }
    </select>


@*@model Final.Models.ViewModels.MediaInfosInitVm
@{ 
}

<label for="typeSelect">影片類型:</label>
<select class="selectpicker form-control"
        multiple
        data-live-search="true"
        id="typeSelect">
    @foreach (var genre in Model.Genres)
    {
        if (ViewBag.GenreId.Contains(genre.Id))
        {
            <option data-id="@genre.Id" data-name="@genre.Name" selected="selected">@genre.Name</option>
        }
        else
        {
            <option data-id="@genre.Id" data-name="@genre.Name">@genre.Name</option>
        }
    }
</select>*@
