<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 OTT搜尋</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <link href="~/Content/selectTypes.css" rel="stylesheet" />
    <link href="~/Content/CardInfo.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("css", required: false)
    <style>
        .navbar {
            font-size: 26px;
        }

        .navbar-brand {
            margin-left: 40px;
            font-size: 40px;
            font-weight: 900;
            color: rgb(138, 216, 216);
        }

        .navbar-nav {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            flex: 1;
            text-align: center;
        }

        .nav-item {
            font-weight: 500;
            font-size: 28px;
            margin-left: 25px;
            text-align: center;
        }
        /* .body-content {
            background-image: url(/Images/backgorund1.jpg);
            background-color: rgba(255, 255, 255, 0.9);
        }*/
        #navbarNav {
            white-space: nowrap;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .wrapper {
            flex: 1;
        }
    </style>
</head>
<body>
    <!-- 導覽列 begin -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-body-tertiary">
        <a class="navbar-brand" href="/Home/Index">OTT搜尋</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MediaInfos/Category/2">電 影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MediaInfos/Category/1">戲 劇</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MediaInfos/Category/3">動 畫</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/News/Index">最新消息</a>
                </li>
                <form class="d-flex ms-auto " action="/MediaInfos/Search" method="get" style="display: flex; -ms-flex-align: end;">
                    <input class="form-control me-2 " id="titleKeyWord" type="search" name="title" placeholder="影片搜尋" aria-label="Search" style="width:500px;">
                    <button id="search" class="btn btn-outline-success" type="submit">搜尋</button>
                </form>
                @{
                    if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @(User.Identity.Name)
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/FavoriteMedia">收藏</a></li>
                                <li><a class="dropdown-item" href="/Members/Index/">會員中心</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Members/Logout">登出</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="/Members/Login">登入</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Members/Register">註 冊</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Project" style="margin-right:20px;">方案介紹</a>
                        </li>
                    }
                }
            </ul>

        </div>
    </nav>
    <!-- 導覽列 end -->

    <div class="body-content wrapper" style="padding-top:80px">
        @RenderBody()
        <hr />

    </div>



    <!--底部begin-->
    <footer style="background-color: whitesmoke; width:100%;">
        <div class="container ">
            <div class="row">
                <div class="col-md-6" style="margin-top: 20px;">
                    <h5 style="font-size: 28px; font-weight: 500;">客戶服務</h5>
                    <a class="dropdown-item" href="#" style="font-size: 21px; font-weight: 500; margin-top: 10px;">服務內容</a>
                    <a class="dropdown-item" href="/FAQs/Index" style="font-size: 21px; font-weight: 500; margin-top: 10px;">常見問答</a>
                </div>
                <div class="col-md-6" style="margin-top: 20px;">
                    <h5 style="font-size: 28px; font-weight: 500;">關注我們</h5>

                    <a class='bx bxl-facebook-circle' href="#" style="text-decoration: none; font-size: 50px; margin-left: 10px;"></a>
                    <a class='bx bxl-twitter' href="#" style="text-decoration: none; font-size: 50px; margin-left: 10px;"></a>
                    <a class='bx bxl-instagram' href="#" style="text-decoration: none; font-size: 50px; margin-left: 10px;"></a>

                </div>
            </div>
        </div>
        <div class="text-center py-3">
            &copy; 2023 OTT搜尋。保留所有權利。
        </div>
    </footer>
    <!--底部end-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    @*<script src="Scripts/bootstrap.bundle.js"></script>*@
    <script src="~/Scripts/WAPagination.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

